.LessonViewer .player {

    width: 100%;
    height: calc(9 / 16 * 100vw);
}

.LessonViewer .lesson_title {
    text-align: left;
    background-color: #6129cb;
    height: 40px;
    width: 100%;
    padding: 4px 8px;
    color: white;
    box-sizing: border-box;
}

.Lesson {
    display: flex;
    font-size: 16px;
    height: 30px;
    margin: 8px;
}

.Lesson img {
    display: block;
    width: 30px;
    height: 30px;
}

.Lesson div {
    margin: 6px 8px;
    text-align: left;
}

.Lesson .name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Lesson .time {
    width: 35px;
    margin-right: 0px;
}

.Group {
    width: 100%;
    min-height: 50vh;
    padding-bottom: 128px;
}

.Group .message {
    background-color: #6129cb;
    text-align: left;
    /* width: fit-content; */
    float: left;
    margin: 8px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 8px;
    color: white;
    clear: both;
    font-size: 18px;
}

/* .Group .message.me:last-child {
    margin-bottom: 100px;
} */

.Group .message.me {
    clear: both;
    float: right;
    text-align: right;
}

.Group .message p {
    margin: 0px;
    font-size: 14px;
}

.Group .writer {
    display: flex;
    background-color: #6129cb;
    position: fixed;
    bottom: 50px;
    width: 100%;
    min-height: 50px;
}

.Group .writer .input {
    background-color: rgba(255,255,255,0.2);
    margin: 8px;
    border-radius: 15px;
    flex-grow: 1;
    padding: 0px 12px;
    color: white;
    width: 50%;
    border: none;
    resize: none;
    font-family: 'Roboto';
    outline: none;
}

.Group .writer button {
    width: 80px;
    margin: 8px 8px 8px 0;
    height: 34px;
    border-radius: 17px;
    border: none;
    flex-grow: 0;
    background: linear-gradient(rgb(255, 235, 59),rgb(255, 198, 10));
}

