body {
    margin: 0;
    font-family: 'Roboto' serif;
}

.TaskFeedbackPage .container {
    z-index: 1;
    margin-top: 48px;
    padding-top: 8px;
}

.TaskFeedbackPage .task_card {
    background-color: rgb(228, 216, 241);
    border-radius: 15px;
    margin: 8px;
    margin-top: 0px;
}

.TaskFeedbackPage .task_card > .header {
    background-color: #5428a7;
    height: 48px;
    border-radius: 15px 15px 0px 0px;
}

.TaskFeedbackPage .task_card > .header > h3 {
    display: inline-block;
    margin: 9px 4px 9px 10px;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.TaskFeedbackPage .task_card > .header > svg {
    transform: translate(3px,3px)scale(1.4);
}

.TaskFeedbackPage .task_card > .download_btn {
    /* background-color: rgb(255, 230, 0); */
    background: linear-gradient(rgb(255, 235, 59),rgb(255, 198, 10));
    border-radius: 20px;
    height: 40px;
    margin: 8px;
    text-align: center;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4)
}

.TaskFeedbackPage .task_card > .download_btn > h4 {
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 8px;
}

.TaskFeedbackPage .task_card > .download_btn > svg {
    transform: translate(5px,3px);
    /* margin-top: 8px; */
}

.TaskFeedbackPage .task_card > .comment_box {
    margin: 8px;
    padding: 8px;
    background-color: white;
    border-radius: 15px;
    /* border: 2px solid lightslategrey; */
}
.TaskFeedbackPage .task_card > .comment_box > textarea {
    width: 100%;
    height: 180px;
    margin: 0px;
    padding: 0px;
    border: none;
    resize: none;
    font-size: 18px;
}

.TaskFeedbackPage .task_card > .submit_btn {
    width: 100px;
    height: 40px;
    background-color: #6129CB;
    border-radius: 20px;
    color: white;
    text-align: center;
    float: right;
    margin-bottom: 8px;
    margin-right: 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}
/* .task_card > .submit_btn:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 } */
 .TaskFeedbackPage .task_card > .submit_btn > h4 {
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 8px;
}