.LessonViewer .player {

    width: 100%;
    height: calc(9 / 16 * 100vw);
}

.LessonViewer .lesson_title {
    text-align: left;
    background-color: #6129cb;
    height: 40px;
    width: 100%;
    padding: 4px 8px;
    color: white;
    box-sizing: border-box;
}

.LessonViewer .Lesson {
    display: flex;
    font-size: 16px;
    height: 30px;
    margin: 8px;
}

.LessonViewer .Lesson img {
    display: block;
    width: 30px;
    height: 30px;
}

.LessonViewer .Lesson div {
    margin: 6px 8px;
    text-align: left;
}

.LessonViewer .Lesson .name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.LessonViewer .Lesson .time {
    width: 35px;
    margin-right: 0px;
}
