.body {
    margin-left: 30%;
    margin-right: 30%;
}

.titleLabel {
    margin-top: 10%;
}

.titleLabel h1 {
    color: #4E0399
}

.login_form {
    margin-top: 25%;
}

.form-group {
    text-align: left;
}