body {
    margin: 0;
}
.taskpage .container {
    z-index: 1; 
    margin: 48px 0px;
    height: 100vh;
    width:100%;
    position: absolute;
    padding: 0px;
    /* box-sizing: content-box; */
}
.taskpage .course_name{
    color: #6129CB;
    margin: 10 16px;
    font-size: 14px;
}
.taskpage .task_name{
    color: #000000;
    margin: 10 16px;
    font-size: 28px;
}
.taskpage .task_content{
    color:#000000;
    margin: 10 16px;
    font-size: 18px;
}


