body {
    margin: 0;
}

.tasksubmission .container {
    z-index: 1; 
    margin-top: 96px;
    height: 100vh;
    width:100%;
    position: absolute;
    display: flexbox;
    align-items: center;
}
.tasksubmission h2{
    color: #000000;
    margin: 10 16px;
    font-size: 48px;
    text-align: center;
}
.tasksubmission p{
    color:#000000;
    margin: 10 16px;
    font-size: 18px;
    text-align: center;
}
.tasksubmission .container > .com_up{
    border-radius: 15px;
    border: 2px dashed #451996;
    margin: auto;
    height: 226px;
    width: 382px;
    /* position:absolute; */
    justify-self: center;


}

.tasksubmission .com_up > .comments textarea{
    position: relative;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    background:rgb(255, 255, 255);
    padding: 8px;
    height: 124px;
    width: 350px;
    margin: 16px 16px 10px 16px;
    font-size: 18px;
    color: #727272;
    display:flex;
    justify-content: flex-start;
    /* overflow: scroll; */
    resize: none;
} 
.tasksubmission .com_up > .upload{
    position: relative;
    margin: auto;
    align-items: center;
    column-count: 1;
    align-self: center;
    background:#F8B93E;
    border-radius: 15px;
    color: white;
    font-size: 18px;;
    text-align: center;
    width:208px;
    height:60px;

}

.tasksubmission .com_up > .upload svg{
    transform: translateY(3px)scale(1.3);
}
